body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .container {
    padding: 20px;
    max-width: 500px;
    margin: auto;
  }
  
  input, button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
  }
  
  button {
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .error-page {
    background-color: red;
    color: white;
  }
  

  .error-passwordconfirmation {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }

